<div class="success">
<div style="margin-top: 10px;" class="card">
<h2>Your order has been placed successfully</h2>
<h2>The shipment is on its way..</h2>
<br>
<br>
<br>
<br>
<h1 style="font-size: 30px">Continue Shopping</h1>

<h1>Go to products page 
    <br ><a  routerLink='/products' style="color:rgb(43, 43, 122);text-decoration: none;">Home </a></h1>  


</div>
</div>
<!-- <div class="success">
<div class="card1">
<table>
    <tr style="font-size: 30px">Continue Shopping</tr>
    <tr>Go to products page <a routerLink='/products'>Home</a>   </tr>
</table>
</div>
</div> -->
