#add{
    margin-top: 3rem;
    margin-left: 15px;
    margin-right: 15px;
    width: 98%;
    background-color: rgb(4, 4, 4);
    color: aliceblue;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: black;
    background-color: rgb(243, 239, 233);
    font-family: 'Times New Roman';
    font-weight: bold;
    margin-bottom: 20px;

}
table td {
    border: 2px solid #ddd;
    padding: 8px;
}
th{
    border: 2px solid #ddd;
    padding: 8px;
    background-color: rgb(12, 12, 12);
    color: aliceblue;
}
